@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;

  --primary-rgb: rgb(0, 50, 225);
  --border-rgba: 0, 0, 0, 0.2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;

    --primary-rgb: rgb(0, 50, 225);
    --border-rgba: 255, 255, 255, 0.2;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.code{
  padding-top: 40px;
  position: relative;
}

.code::before{
  content: "Code Sample";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(var(--border-rgba));
}